/* Icons used below are from http://www.fatcow.com/free-icons - CC-BY */


/* Elements */
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
  color: rgb(50,50,50);
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAPUA9QD1B0%2FT%2BgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oMGxAmEhHY%2BWoAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAQ3UlEQVR42o1b27IjNw4DKO%2F%2Ff2xqnrZF7AMvotpOsqdqKpkzdrdE8QKAFP%2F66y%2BZGepnb4ctgiDcHfPfBIEg3j8kIak%2F7y7YIvbjWMsgF0BAArgICvjxEECC3MF8J0n4Fmj5XeJrTf%2FPj%2FuG2YIAQAJ59mDvh61lvUAzuz5MWm9W7scw%2BVASIAAzAhuwRYgAjSAJM0Lbe3PXj4TtDtoCXOe5Bmz3%2BB31vXkdaxLKvzoI9W%2FNFqA4Ormwt8M9%2FlgthMjV12mMzeXxxwnlZgX2vyl%2FD1p%2BzLHpIM5pC95Gre%2B479v4ZvEiY9kgvkOCC4AIITzNt8dn5loRh%2BAb2H5%2Bu%2F3BOdU8ZABGg033hnJhEHwr3cfjdI23QSCQBt8bx4gAJdAMi%2FdJETYMlvu0BYd%2Buq0RkOdD48lwKb9nsGXxgWGUCpH1WW0XuWBc4UW56XqBu8PiJOYiBAMjD5Aws3PCANyVMRWnRVuxsNyIyM4Tvndu2CH4MRTR3rZyc%2FLz%2FDZa7rE2Y%2BQ7fiGFp1Xucc1DiveQhPX6T%2BTYSg%2BYcVVxfp%2F2nSPM1p27PN7kHrmhvmdrwfMYCcP2jX18c0SWR57IMJifYYbOeyXbyzLC4z7Wnsm6jZ3%2FXSuNFrnCMpfZcWe2m%2Fza%2BDurKkydD4tNm7Ez%2BPnwqRKftbBWZXiN58WiXYKgzgXuGxIzul9FQ%2BiK8bGsNGkmE9Pw9QLB5fBMktvRSdJ8bHrl4st1hxeNZznW%2BnTyfTzC4J08MwCxPmucRIWGQ1t9rGvxKqlVMtdaoLHfNcunfVYbFgA8D4EAZC%2BXMQIeoR35zDJhMsogx%2BbcPR7%2Bo97PZGaLAIllBm3PJBr5pL%2FLk%2FhcG8pSZ8vKF9vA4VHIEMpY1%2B3GnTDdu%2FyREfuLnyuubGCJ9n0A4imRHQJtrH5xVoU2jC5jvmu4FnrTSjc%2B7l3Zdw33HhtXbIvISkNC2qcyjVCqhAwbeKRwR2STnyBp%2B27npGqdu5Kj8kMZw5UAZwLhgRUaOaJ%2F6xWlzBgPI%2Fj2XBwO1nglQNJeeONsgiB2eiUM2M%2FTa3r2E59LY0UZvDe%2FJexn47M%2B3%2B8u7%2Frz54%2FeiC7C14EsLcsS0NjfVwdCeDyyK1CG1L%2FjVLGDe2vDcKqQu4MWYeeenqIs1WtBW%2BDiFywv4%2FqOcu3PxvrPwq%2FcbnuisbSgJ5hpWAtg0zMrByZw%2BQ2HYV1NYg36aQDXHuefcZ0rW1ywEUqRnywqTa%2FHwM8HksM%2BdpVId2E%2FT6zvebDWCsORjS%2Fq5A9ImjGjIC3GUUaK5IyTIRmIaq2BxdUoqyDuLF6RCwjjap%2FZviOMRjYX2QdQ36vnWFYIugeK9PPuKsvGFRXt82kjBnb5Lr80wixZWFcxndrJRGiF6d8xRgl71N8wkANcAZGHYc0CCB32CKwsny6NGpdhVGDKDHIPcNSZLEHM4DEseGwHd0yfV%2FMPD7yRzzS8CEWf8sciC1tkZzEBxRYgwjOzrmUdOsU2jIECCwvEgh2f%2FN0zkuPeytezPz7DR0husey7%2BkzDpwF9CyrvzVIaWCqTax4yzWBG2I3wfICO4XZdiRy2kLT0JBUCEKPG%2ByvTbMeo1ztZ33H5z8ciQxeyNEDOFz8Zp%2FoDnyhJEqjmMNrqkupPgKT9PBmCSfCqDDZpYRrtAnMneUQI3AsIi4dnLLOrzn%2BjvBuc8C2I5KLEU%2FMLR7h7lMRBqt6ode9Isu4CVoofZvloJipVostkkFUGXTtp4%2B7YLBWmrE8C%2FuwmFv%2FIF0aM3gbzoLpJXP7xhxUTFv9J8LIVoSclNH8ZXSLMXuVawRTXivxTypIdqcuuxFSH4oPdabCqL7RVn%2FHAENa1%2FLlCrGAwiWR9Bzp7PyNLrELcCGbJeHfmg%2B0OaXfZrIgJ1xb2DsLWulDG%2FLM3XJ5qF2BbHnS0M6dfEJa5MPd9QWS%2FKofwyYXQ4mVoWe1zl0ZFyXJPvXA7nnRjSkmNDWxtcSDFwViXWYsh8PCqeVhmFiH9UraWLVgqV3uPECh331v4rFPD9RIRtzZW6FOB%2FzJxQan32bdr%2B47k5K4WRVtIbZXndzz8Tnu%2Fo6V2rGIXLB7An%2BTO5RECJSdV0hKPS5I8iUiem89XFtff8aLUxM5pN8rceSpDI6yTSrH0AtXJGvF%2Fbr4M9ei%2Fg0ApsYJBhWD5rWab3L%2BtL1wlsFBU5Qcq3MdTraERyxa4LOWpla4cmp%2BtT2MCgvD9fL1rd7bfULq40uhvZokf6pBcWBVuepfQT3jBq7QGzElx4G9S8E%2Ft3xmZ11K%2BkgtbPj7O5t9TDAUzLlcYhkR8rxXhlNymyDrWNhMwO769afXdYtD334ekX2Kv3a46uX7GOLwJkFJomBJ6kd9WgZOtMUsNoQ4vRwoZAlZWnYuK4ACxwh%2FGI5gyv%2Bt712MCeZrBPp%2BhWdhF1DjEVINlRbCUz6QWQnw73pxROg84yW2eih2holXYOJEjTpyX18KFbITAXmpTgR7dYiiPfLQ%2Bhp3eqPK8ifsVdPmS9oom885rRhK2DI9vrM9KcjOTlH1rAAWMOqvcOVap%2Bf99uhJINTcoo7Vrm%2BE%2F65yireg%2FaIioqw%2FFOhdNA%2Fj2Dpk2VCPG5%2FYAV7hwCAiMBNfYYGhxgyIHZFXVny9BdKpGl3kYRnUxwUws1rtlVtnnUOKL2Q3Jrd36dUhkGI3yrkgt2eEcDolggzZ4vu8nToZ2smkzmmCI4XbCW7CfWbridrtf2l6jvkSL5cLMhLr309rB3SmyBmU2OMXNF3SHKA1rfa4c8CWvNxDKRsPVDM1TssVQchRwsjrHnr0Ad7Xe%2F8%2B1Orxhb%2F%2Fxed5toNYE0h90ftVtrxdI%2B2aO%2BCmXtfEBGJNQsJsLU64LBCeFIrRKE0xGtbLu12Z8O%2Far4Tm9oWg%2BfzVe32HUsDygc0iNsRYfwkopPP5KgvjRT9LV3C1NUN4uZUOGuupvydXvBVYCy0%2FbsotMaX5%2FND0K3zc046%2FuU4acn5jXflIXXLPpcz1CA6D51leCrBkIZbv8zAfIT%2Bj80gR4Wtye4eJDtVGzsiOK3HRYs2GUffu7G3TFfPIpnzK5rdAh30LI1QDhKa2s0qsrNEJdCvBmnUQYFHNLKVxouFmshgo3JxmUF2O2oPzbGYDlb5SmYozuuw31PLs9roYX5IHw1rKuEA2GJsKbR6XyyNM9rvX2bMOA%2FUbLJChBZGblfFJ2Xfgalijj1NjJdawv0XSKItH8BJbd8PhXwprP9r1bX5zMsD8zfqmk09GBWt%2BxlUMcpX4DyrY58wwHV6%2BKEKXlsMMiMrVA5ejKe%2FNX%2BczVLxJ7R7fmxOP%2BMRyx0sh%2BNp%2BtdzRBWyHHjawacv1KUhTyekjvOVxRvfyBaEOBHq5si1d%2FLdplSDU41F6%2BSpuyvV3DFqocYpHNIouXFJ7yNXEl3jkTEA4RDLOdg1lq85COjHgSllzXORiDwWo2aXj3KuygtbOJFiFH69zWKXflE62s0qJNlWVJ21MaMDA3KzjMRtP0v%2F41H9T43AZuIKC9swSWF7NLcStULsgKOuiLs1i5%2FjVYRVhZvnppZxGGNXPAjOW9sXeEQzC40PqUc0PVzMCK%2BY5QZOwaauKym9%2FzJDgph6T80OCaWQqdct9lGmyAFp7ADmcMTUHZ%2BeFovjYSvIYNvEZWrPXCXqTrxgP%2FOqMXrFC4mV%2FBun8ax%2Fl7pbhG6OwekyuAo0Ccj%2B%2FWGSaCZAzUBcqdgkGhpLVyQEL7TeJ%2BjtEI%2FjdrPd5zCSNvkVTfLqsXKz2hN7rP0lVelTrE7krAK5cVbtnaPatgjTqHMnwpOPIAbES2o1ejO3byXL%2FxeHZ1W1Z33aKF%2BKrnd%2BPyLWZwlLpSkqYzbt8tzkSoqAczYxok1rxK1Mk8fcTIsjpGF9hWSEiKIYWJ432mh7EQf3Y3IOe5Wo7NypWSWEDVKMs3GtzbGyrrhfOV9F0vfWZxtcDb6tWLdBVqrbxwTYmd5BCjqbNPONvjtThmiDz7Oc1N1YzRwPwvgkVjo0i72pNslLmWQfSTyHIgs2YXr4DpU858kwYVz96a8Va3OtvzDZojI6u5ONdBfLQjIUmeWPrYb9br6v9P%2BDubpvYCTNNFtf0kt%2BISdjLYlMuvMVszPNvvGUd4jlackL5mIRg4w46EZd%2BzvPtA0iZu3Tf01O92tsP0c6CxarwZv5Ilc9ytqsEciSskV13eamUtsxygGDqaouPsvqP1tb37C8rQjv%2F3l36g4E5nrvZeYMFQTqo%2BxtOImNSgAdUE9v3ESBxf3Vuv6TY1h%2FXT0Mt%2BgEZSUyLT0PzCeAHNrXBFoUc7%2BaqQZuuJOX0WCZ4tjzO70RYkxS8Xcd%2B3vMWSmvUCUlGHfTv2MJpE0M9AY4WBFbM09jhdJTVb65LLaran1eQ0XosvOdXWGkDq%2FO%2B9%2FMQmGWoQYJ6CyI1tcqHFG7I5eiDwjRCnxd29Xb7csyQzJuni4AHaOWAn3iefNbqGsWZoAncvkWaZtIde%2BGNy9TRfLnxg3WiYU9hk3O54ch7XbGUcH9S4Z%2FMhOYXZgbwaIKSbK6nvlRrNnDg9UtoZza%2FD%2BTXC85a%2FfOSDGOHdgVpHaJf6PBmo3VPdQ9nlmR%2FWi7LupMSh6%2FNo9xqoKwWNC6W9Rt05tPo5RFVt8BZf8Uvvu0XRz2ijx2wB4VSTtlqDfXhJfw1tKGspbEpN0du9m9SCDe6gxgqFxbX9tNBuHezOLW%2Fpu7n%2FmfowM9DPNZvZ16uplUvJNvZoXCX4cwfJklQdPME%2Ff%2F5I2y%2FEtHf09GytW91BCR%2FqllndNCnxpFhZDC4cBblG2z2l75rc7hOtaQ77PaZ9KUj5hn8bxxnTdl%2BTBqEdMDxgbr6BjtkV4wYO1WfMFA%2FVtmaNy5UL9dXJKGPaEMMUs3fHZfHZElVcXwNV7EapvzpDc5b5luDn3JDkqQjHuijAHt9dT2cHijkK%2F31p4B6UtpRva9RNOd97Ok0%2B%2Bn%2F26i%2BOMHv2ud6SybZGXlqFzpsl%2FoORjpHJk8MuGXyDtLzG52dA%2FGM2mBeaZv6itjWePueKu9TVba%2FB%2B5UzPpEqRpnLq3Q2RJEiSpO%2BrpTfGqUy2mfLcgbYb3d3%2BbkUdI3qGdY6FzdmaJtnk74ksEJI74Tlyb01xcy8YcbPuXRRXOD2ppMH985LFX3a9wyyRqvb95PqkHpjBYTi5tgx2LNzMs2OSL%2BrSlBDDVN7pS3ErDDHUPHp6rLH1IOJHYLRICZZ1XXJbwqWNqbKfKNKOlvfO5D4ZPUxqE07lyXNzmUHP63ECscYqdEJTjno4eZVoVp4bS0xfbX%2FQeePoLSQtcusV8%2FfX%2BoNc9L7DERWKWKTqvuGWuJxnvuJoOeln1vP3%2B4Q1XcIoCjPoe7we0qBC7IYn2tMs2woVHEI9g0rOaY8quno2S%2BIROU9c2cdv3VDszSAEklB4umW9xlhg6dw8uxL%2BZEDWL9RX3%2FfjyiymILNi4cS6om2d0pj6R%2FI%2B4SzHh95PAWGLD0BMFZebNI5ad8tCdWsfim4BWoM63zWU0NcwfXDUDX3oxxcel17S2O3QsWDAOtugYF4%2FMkmiN%2F4q4epOQa3PcKLfPXOkZ3hwDGRHC%2FYUchKFyPknL1b48oLCVqGUt0y7Qx52tunoRneYTS44xI45DtL2EI1dGz0BkyWOuSalxrC5Y2NKHuUl5h3hyPRcrSsqcjSn7yuopNDTjJMeKpXXfbnSTkc96DlMjCpdSTSTH6L5%2BpdX3R2PP4kr7BGfMysrhzfRQ5WdeMmucoUVJX9z4bRecj%2FAwcVuuBc7cVmAAAAAElFTkSuQmCC');
  padding: 70px 20px 20px 50px;
}

label {
  display: block;
  padding-bottom: 10px;
}

img {
  border: 0; /* Firefox */
}

a {
  text-decoration: none;
  color: inherit;
}


/* Quiz page */
p#kana {
  font-size: 100px;
  padding: 0 0 70px 0;
  text-shadow: 1px 1px white;
}

#kana, .kana {
  font-family: "MS Gothic";
}

input#input {
  font-size: 20px;
  padding: 7px;
  margin: 30px;
  width: 150px;
  outline: none;
  border: 1px solid silver;
}

#result {
  background-repeat: no-repeat;
  background-position: top left;
  padding: 5px 0 0 30px;
}

.correct {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAoZJREFUeNrsVt9LU2EYfr5zzo6tpou5TIzZRZRQEEEXQqvsxqIfeBf9A0HSTQXeWIIIpTcFdhNeVP9AdGM%2FwLxRrGCQFYFCRUhb4jRTZ3NbW%2B30vuecqRPxDM%2BJQZwPnu3s%2FZ6X9%2FnO933PO6FpGso5JJR5uAJcAa6AsgtQrAhCiKKfzZ1olLagR5NwouBhTBF5DOUzaB%2FsQoRCRe62kdkJKydcJUA%2B1Y0%2Bf9XWiycPnceB%2BkZ41W36RDq7hLFoBC%2FeP0JiMXV%2F4DpaKfzHSQEKFX9cGwy2XD5zE7HEa4xPP8VCek7nbPcGsH%2FnOYT8R3DveQfi32cfDNzApYIIuwLEsWs4XrfHN3SlpQuvor2YScYg8WsvrJCQp48aXwjh%2Bqu429%2BJ%2BESyafgORoz6mq1D6PFW49bpwxfwbuoh5lMxVNDJUWWaMMHPHOM55jC3IoBuznXiFniFB%2BG6HZWYSo5BoWIyZUlrwDGeYw5zhYIw59q%2BBTRUftXTmTeQZWvFBa65PaoTAvRjmPwVhSJKMxbmihU9tgXoChYyUcjE1vIWXMngCuGcE2q5FN7%2BmDP2WN8GaX3wHHOYyzlrDWmzArKTo%2Bj9MkEFaFWKsr4IvbhicJjLOZzrhID0%2BBOMzH9Df2TUKKDS5fIoK9eQnznGc8xhLudwruX2lmJE9FVJ2N3Uhp7qEM427ANqa2jF5i3%2FnQPiM8DHT%2FT6Y3g2fBvtFP5K%2BGllRKVaMa0TfsKuvc04Sm2gVa3CweUdJkp2ER%2BoHfR9HsRLikwSEk5Z8XIzInD3CRCCBJ8Zg1koSZglcINYcroZrfYZj%2BlwKorbQdbc89y%2FasebHhvVUOwku%2F8JXQH%2FhYC%2FAgwAPzbwVKDDZCQAAAAASUVORK5CYII%3D');
}

.wrong {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAq1JREFUeNrsVs9rE1EQnvf2R5K2qTVNI6Gl7aFYIlXRS5CKFZF6KMSzF%2BlBtCj%2BAf0DtFdBKkUsiBdPHgz0UkQiFTSXgFoIqSU0tRqMMcb0V2h285zZbGuitCnNSkDy4CPZed9kvjczbzZMCAH1XBzqvBoCGgIaAuouQK5GYIxVPD73%2B%2FwtHCYkIc5vDzHi6IyF1oowfjkcDaOpYrrtNexYtUlYJkCaPeObcra2Xuu6cBFcvgGQmhzGhr6xCZnoPKy8fAGrudyj4TfRMTJbKUDG4M%2FaPJ7AwPVbUIh9gHz4FWjfkqU0dnjB7h8Cpf84zD%2BchOzX1PTw2%2BiNbRG1CmDTp%2FrOHTvSETp58zbkg0%2BhsLKE%2BcDqcbOFikUMpYHS1Qv2wBV49%2BA%2BxFLpodHIx7lSfFFTEyqdqnyn59IIbIVmQMdT86Zm4A4HcJutBPqONtojDnG9qnSXfK24BQ67xAcPt7eBnohjQAymYlBZqQTZcI84xLVxPki%2BNd8CXColkH%2BKg6zaQVDaK29GebsDw9IQ10y6aoUABoyDyP4wTil2C%2F67qQwu%2BRi%2BFggwTlzEH5VsdihWaVpucoExyyahyGl6JLuRxxLYQMZ6S7uA9ohDXPL5cyAdVMDWbCp7L5FMAcf6UgBJUf5qQrLRHnGISz7ka4WAzcn4l7nF3HowEl3AAIrRjCUhqgEjM2ijPeIQl3zIt2p19zOI8MOJ6Hl8%2BuhEv8s50tfbDW63GzvIbCFNg3Q6DYtLyxDLrM6MRhbG0ZpArFYbRPsdxRLiEKLzarfnbMDrGmuXpRNi55oAfNf098FkZurJcuo1Pn5G%2FLRqFO%2B8jBDNCBcCjw8tpg3MQGuINCKDWLf6ZQRlh1XMCaeW3XNhNhzVvPCvXscHXnvFkGtxbvwnbAj4LwT8EmAAk%2BoUbw9u%2BWUAAAAASUVORK5CYII%3D');
}


/* Footer */
#footer {
  padding-top: 20px;
  font-size: 10px;
  color: rgb(100,100,100);
  -moz-transition-property: opacity;
  -moz-transition-duration: 1s;
  -o-transition-property: opacity;
  -o-transition-duration: 1s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
}

#footer p {
  margin-bottom: 10px;
}


/* Preferences */

p#prefs span, p#return span {
  background-repeat: no-repeat;
  background-position: 0 2px;
	padding: 0 0 0 22px;
  font-size: 17px;
  color: rgb(100,100,100);
}

p#prefs {
  margin: 20px 0;
}

p#prefs span {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAj9JREFUeNqUU01oE0EYfbO7iUk0tAZraSFeGo0XwWDxj0psTt4iQg%2BeLJ71LhVBRXoogqAoiAUVLx48xIs3ixKkIGmqlVYSG71YtQhNWmM2yf6M38xsTamr4Edm883sfG%2B%2F994M45yDMYaNMTs%2BlAvH%2BrMiN1e%2BVlNj%2BRh8QtSqx6aYuXqY82ZZDpHjLyFqNb8XSyuNJ7XiM1hL8zCb7UX8IwzV8rFceHtPVjOCctF1XETjA9CDYezYlUiUJ%2Fdy124TneWnROfkHwCu42STZ84D7TbNdIAFgPJtuSF5%2BhzNXdqpoXj9Qta3AxUmIVlA5T5QfQNoW9Ty67NEtgUcmQR3uT%2BFmsmnSg%2FuZiK9fYhnRoG3lxQAI4k4fd1tycH0AApXjs4Ft0b2OZZdpdIY82wcoEl3%2Bd6pwu6REWDhBgEIPYTGXHXWtQfoOY7Vygd0HUhhduImUhfzbJ1CxTOGfkTFCCkdmAfAdYWFJg1H0QXb6EL6Rbg7mg7ForT5J62K9g21R9Km6r5DKN56DLNlLUaeTyc409Y6LthuOjk6TGIsA99fAf0Hqdg7nUK4xheaN8BtB0PXpoUTYUNnjjXmAcjDaDeA%2Bidg206Ucu%2BgGUx%2BPRSLID6cpLxOjUjQBfGwHd6hIO%2BCQUr3JuhfR%2F3bHAYv5wfFu%2Fd3ThQQtCQLxjR%2FGwn5R%2BlhIaoFNBLchc3YR3El5LH%2BvDbFHs1khB6rLeflZoB1G%2FerI%2Fg7hNzzXi4t9vJaxzF1mZjfbfyf%2BCXAAPkf4mqW2jyTAAAAAElFTkSuQmCC');
}

p#return span {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARVJREFUeNrUkz1LA0EQhp%2FdWz%2FwZwhqaXEn%2BAOsDJiAggqWpkkjVoK92ihJf5YpbbS2EQxYXBAEqwjBwtJgE8Lp7a67OSw9oinEgbeZnXl5dmZXWGsZJyRjxt8bqEpD4KdgDGiLDQQdKZkXoxL45kzD4B3b2GqSZsxpZ2Zssb5mr3xx%2BoE9245pPe2wPAu3nSEJfIPh046SiYBLpTX2aPOY5KWKUbAa7VJa0siCOwh3NqkUB824rHyin%2FVg2g8CHnvnBDIvKjbISbzClROSvUqVVxHTfYZWO0csMvGEZsCNWqvTvtonksRJbX2Du%2FsLrg%2BJRlzCmyjXGa7RmYSlUxKd8jA1w%2BJv30XotPCTBvH%2FP9OnAAMAfmJmsIp0kJMAAAAASUVORK5CYII%3D');
}




/* Show and hide */
.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}


.visible {
  display: block;
}

.hidden {
  display: none;
}
